{{ define "main" }}
  <div class="grid grid-columns-2 grid-gap-8">
    <div>
      {{ range first 1 (where .Site.RegularPages "Section" "article").Reverse }}
        {{ template "posts" . }}
      {{ end }}
    </div>
    <div>
      {{ range first 3 (after 1 (where .Site.RegularPages "Section" "article").Reverse) }}
        <h2 class="text-black leading-tight">
          {{ .Title }}
        </h2>
      {{ end }}
    </div>
  </div>  

  <div class="mb-16 mb-4">
    <h2 class="text-5xl font-black text-black uppercase font-brand">
      Startups
    </h2>
  </div>
  
  <div class="grid grid-columns-3 grid-gap-16">  
    {{ range first 15 (after 1 (where .Site.RegularPages "Section" "article")) }}
      {{ template "posts" . }}
    {{ end }}            
  </div>

  <div class="mb-16 mb-4">
      <h2 class="text-5xl font-black text-black uppercase font-brand">
        Apps
      </h2>
    </div>
    
    <div class="grid grid-columns-3 grid-gap-16">  
      {{ range first 100 (after 16 (where .Site.RegularPages "Section" "article")) }}
        {{ template "posts" . }}
      {{ end }}            
    </div>

{{ end }}


{{ define "posts"}}
  {{ $image := (replace .Params.image "/uploads" .Site.Params.image_domain) }}
  <div class="mb-8">
    <div class="bg-cover bg-no-repeat h-64 bg-grey-lightest" style="background-image: url({{ $image }});">
      <span class="opacity-0">{{ .Title }}</span>
    </div>
    <div>
      <h2 class="text-black mb-1 leading-tight font-brand">
        <a href="{{ .Permalink | relURL }}" class="text-black no-underline hover:text-grey">
            {{ .Title }}
        </a>
      </h2>
      {{ with .Params.description }}
        <div class="text-sm">
          {{ . }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}